apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: sdfs-web
  template:
    metadata:
      labels:
        app: sdfs-web
    spec:
      containers:
      - name: sdfs-web
        image: 381492068250.dkr.ecr.ap-south-1.amazonaws.com/kubernetes:sfds-web-170
        ports:
        - containerPort: 8000
      imagePullSecrets:
      - name: my-ecr-secret

---
apiVersion: v1
kind: Service
metadata:
  name: sdfs-web-service
spec:
  type: LoadBalancer
  selector:
    app: sdfs-web
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000


