apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: sdfs-web
  template:
    metadata:
      labels:
        app: sdfs-web
    spec:
      containers:
      - name: sdfs-web
        image: 381492068250.dkr.ecr.ap-south-1.amazonaws.com/be:sfds-web-22
        ports:
        - containerPort: 8000
      imagePullSecrets:
      - name: my-ecr-secret

---
apiVersion: v1
kind: Service
metadata:
  name: sdfs-web-service
spec:
  type: LoadBalancer
  selector:
    app: sdfs-web
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: fe-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: sdfs-fe
  template:
    metadata:
      labels:
        app: sdfs-fe
    spec:
      containers:
      - name: sdfs-fe
        image: 381492068250.dkr.ecr.ap-south-1.amazonaws.com/fe:sfds-fe-22
        ports:
        - containerPort: 3000
      imagePullSecrets:
      - name: my-ecr-secret

---
apiVersion: v1
kind: Service
metadata:
  name: sdfs-fe-service
spec:
  type: LoadBalancer
  selector:
    app: sdfs-fe
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000

